/* Card Headline */

.card-headline-icon {
  display: grid;
  place-items: center;
  width: 3.5rem;
  height: 3.5rem;
  border-radius: 50%;
  color: var(--color-primary);
  font-size: 2rem;
  background: rgba(255, 255, 255, 0.1);
}

.card-headline {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.card-headline1 {
  grid-area: headline1;
}

.card-headline2 {
  grid-area: headline2;
}

/* Card List */

.card-list {
  grid-area: list;
  display: flex;
  gap: 1.75rem;
}

.card-list-item {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.card-list-badge {
  width: 0.75rem;
  height: 0.75rem;
  border-radius: 50%;
}

.card-list-badge.primary {
  background: var(--color-primary);
}

.card-list-badge.accent {
  background: var(--color-accent);
}

.card-list-badge.default {
  background: var(--color-default);
}

/* Card Progress */

.card-progress {
  grid-area: engagement;
  text-align: center;
}

.card-progress-donut {
  FONT-WEIGHT: 600;
  position: relative;
  width: 8rem;
  height: 8rem;
  margin: 0 auto;
  border-radius: 50%;
  background: conic-gradient(
    var(--color-primary) 0% 68%, 
    var(--color-default) 68% 100%
  );
}

.card-progress-donut::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 85%;
  height: 85%;
  border-radius: inherit;
  background: var(--color-card);
}

/* Growth Card */

.card-growth {
  grid-area: growth;
  text-align: center;
}

.card-growth-headlines {
  display: flex;
  justify-content: space-evenly;
}

/* Regions Card */ 
.card-regions {
  grid-area: regions;
  padding: 1rem 1.5rem;
  text-align: center;
}

/* Author and Activity Cards */ 

.card-author {
  grid-area: authors;
}

.card-activity {
  grid-area: activity;
}

.profile-card{
  background-color: #17252a;
  text-align: center;
  width: 464px;
  position: absolute;
  top:130px;
  left: 54px;
  border-radius: 20px;
  padding-top: 26px;
  height: 774px;
}

.profile-logo{
  position: absolute;
  top: 25px;
  width: 300px;
  height: 300px;
  left: 90px;
}

.profile-title{
  position: absolute;
  top: 343px;
  left:90px;  
}
.profile-info{
  position: absolute;
  top: 400px;
  left: 151px; 
  color:var(--color-disabled); 
  font-size:large;
}

.task-headings{

}

.tasks{
  color:var(--color-disabled); 
  font-size: smaller;
}

.profile-tasks{
  font-size: 25px;
  position: absolute;
  top: 432px;
  left: 78px;
  width:331px;

}